/* Sharebox Stylesheet
 *
 * Controls the look and to some extent feel of the sharebox.
 *
 */

/* Share bar */

.share-bar {
    display: -moz-inline-stack;
    display: inline-block;
}

.email-share {
     background-image:url("/++resource++sharebox/world_link.png");
     min-width: 16px;
     min-height: 16px;
     width: 16px;
     height: 16px;
     margin: 0 2px 0 2px;
     display: -moz-inline-stack;
     display: inline-block;
     text-decoration: none;
     border: none;
     cursor: pointer;
}

.fb-share {
     background-image:url("/++resource++sharebox/facebook.png");
     min-width: 16px;
     min-height: 16px;
     width: 16px;
     height: 16px;
     margin: 0 2px 0 2px;
     display: -moz-inline-stack;
     display: inline-block;
     text-decoration: none;
     border: none;
     cursor: pointer;
}

.twitter-share {
     background-image:url("/++resource++sharebox/twitter.png");
     min-width: 16px;
     min-height: 16px;
     width: 16px;
     height: 16px;
     margin: 0 2px 0 2px;
     display: -moz-inline-stack;
     display: inline-block;
     text-decoration: none;
     border: none;
     cursor: pointer;
}


.digg-share {
     background-image:url("/++resource++sharebox/digg.png");
     min-width: 16px;
     min-height: 16px;
     width: 16px;
     height: 16px;
     margin: 0 2px 0 2px;
     display: -moz-inline-stack;
     display: inline-block;
     text-decoration: none;
     border: none;
     cursor: pointer;
}

.full-share {
     background-color: blue;
     zindex: 10;
     background: lightgrey;
     margin: 0.35em;
     padding: 0.35em;
     width:auto; 
     display:none;
     border: thin #41638B solid;
     position: absolute;
     float:left;
}

.full-share-box {
     margin: 0.69em;
     padding: 0.69em;
}

.full-share-box-help {
     margin: 0;
     padding: 0;
}

.full-link-input {
     margin: 0;
     padding: 0.17em;
     width: 95%;
}

